html {
	width:1350;
	height:2400;
	background-image: url("img/bgImg.jpg");
	background-size: 100%;
}
#screen {
	width:400px;
	height:600px;
	border:5px solid #1e8b17;
	background-color: black;
	margin:auto;
	margin-left: 462px;
	display: flex;
	flex-wrap: wrap; 
}
.glob {
	margin:0;
	padding:0;
}
.pixel, .NextFigurePixel, .drowPixel {
	width:40px;
	height:40px;
	border:1px solid #1e8b17;
	box-sizing: border-box;
}
.drowPixel {
	background-color: black;
}
#buttonDiv {
	display: flex;
	justify-content: center;
}
#start {
	width: 150px;
	margin-right: 30px;
	margin-top: 5px;
	border:2px solid #1e8b17;
	color: black;
	background-color: rgba(106, 211, 99, 0.44);
	font-family: sans-serif;
	font-size: 20px;
	font-weight: 900;
}
#restart {
	width: 150px;
	margin-left: 30px;
	margin-top: 5px;
	border:2px solid #1e8b17;
	color: black;
	background-color: rgba(106, 211, 99, 0.44);
	font-family: sans-serif;
	font-size: 20px;
	font-weight: 900;
}
#rule {
	width:300px;
	height:550px;
	background-color: rgba(106, 211, 99, 0.44);
	float: left;
	margin:50px 0px 0px 100px;
	border: 2px solid #1e8b17;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
#ruleBut, #tablo {
	width:280px;
	height:230px;
	margin:10px 0px 10px 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}
#nextFigure, #drow{
	width:160px;
	height:160px;
	border:2px solid black;
	background-color: black;
	display: flex;
	flex-wrap: wrap; 
}
#sekundomer, #score, #level {
	width:200px;
	height:40px;
	background-color: black;
	border-radius: 50px;
	margin-bottom: 0px;
	font-size: 30px;
	font-weight: 500;
	text-align: center;
	color: white;
	line-height: 40px;
}
.tablo {
 text-align: center;
}
.tabloText {
	margin-top: 2px;
}
#disp {
	width:300px;
	height:550px;
	background-color: rgba(106, 211, 99, 0.44);
	float: right;
	margin:-555px 70px 0px 50px;
	border: 2px solid #1e8b17;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
#nextFigureButton {
	width: 80px;
	border:2px solid #1e8b17;
	color: black;
	background-color: rgba(106, 211, 99, 0.44);
	font-family: sans-serif;
	font-size: 15px;
	font-weight: 500;
}
#ld {
	height: 100px;
	display: flex;
	flex-direction: row;
}
#rotateDiv {
	margin-top: 10px;
}
#leftDiv, #rightDiv, #rotateDiv, #downDiv {
	width:110px;
	height:110px;
}
#leftDiv, #rightDiv {
	margin-top: 20px;
}
#leftButton, #rightButton, #downButton, #rotateButton {
	width: 75px;
	height: 75px;
	border-radius: 25px;
	border:2px solid #1e8b17;
	color: black;
	background-color: #083a05;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: 900;
}
